<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8MB4">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container my-2">
    <h1>유저 목록</h1>

    <a th:href="@{/createForm}" style="width:100px;margin:10px 0;" class="btn btn-info btn-block" > Add User </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>User Email</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.emailId}"></td>
            <td> <a th:href="@{/updateForm/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
                <!-- <input type="button" value="Delete" class="btn btn-danger" onclick="button_event();">


                <button type="button" onclick="DeleteAction()" class="btn btn-danger">Delete</button>

                <script type="text/javascript">
                    function DeleteAction(e){
                    if(confirm("정말로 삭제할거야?")){
                        alert("삭제완료");
                    }
                    else{
                        alert("삭제가 취소되었습니다");
                    }
                </script>
                -->
                <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger"
                   onclick="return confirm('정말 삭제?');">Delete</a>

                <!--<a th:href="@{/}" class="btn btn-danger"
                    onclick="if(!confirm('정말 삭제?')){alert('삭제취소')}">Delete</a> -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>