<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8MB4">
    <title>New User</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>유저 목록</h1>
    <hr>
    <h2>Save User</h2>

    <form action="#" th:action="@{/save}" th:object="${user}" method="POST">
        <input type="text" th:field="*{firstName}" placeholder="Enter First Name" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{lastName}" placeholder="Enter Last Name" class="form-control mb-4 col-4" required>

        <input type="email" th:field="*{emailId}" placeholder="Enter Email" class="form-control mb-4 col-4" required>

        <button type="submit" class="btn btn-info col-2"> Save User</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to User List</a>
</div>
</body>
</html>